@media screen and (min-width: 763px) {
    #navbar{
        width: 25%;
        height: 100%;
        position: fixed;
        font-size: 28px;
        border-right: 5px solid gray;
        list-style: none;
        line-height: 1.8;
    }
    #navbar header{
        text-align: center;
        font-size: 40px;
        color: #000;
        margin: 5px 5px 5px 0px;
        font-weight: 300;
        border-bottom: 2px solid #000;
    }
    
    #navbar .nav-link{
        text-decoration: none;
        color: #4d4e53;
        border-bottom:1px solid red;
        margin-left: 25px;
        padding-bottom: 20px;
    }
    #main-doc{
        display: block; 
    
    }
    
}


html{
   color: #4d4e53;
   font-family:'Open Sans',Arial, Helvetica, sans-serif;
   display: block;
}
*{
    margin: 0%;
    padding: 0%;
}

